<!-- filepath: /home/felipe-pedroza/Documentos/Felipe/python/projeto_final-OO/bmvc_start_from_this-main/app/views/html/socket_test.html -->
<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.send('User has connected!');
            });
            socket.on('response', function(data) {
                console.log(data);
                document.getElementById('response').innerText = data.data;
            });
        });
    </script>
</head>
<body>
    <h1>WebSocket Test</h1>
    <p id="response"></p>
</body>
</html>